<div class="w-full max-w-ws">
  <%= form_with model: @user, url: sign_up_path, class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' do |form| %>
    <%= render partial: "shared/form_errors", locals: { object: form.object } %>
    <div class="mb-4">
      <%= form.label :email, class: 'block text-gray-700 text-sm font-bold mb-2', for: 'email' %>
      <%= form.email_field :email, id: 'email', required: true, placeholder: 'email', class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>
    <div class="mb-6">
      <%= form.label :password, class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.password_field :password, required: true, placeholder: 'password', class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>
    <div class="mb-8">
      <%= form.label :password_confirmation, class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.password_field :password_confirmation, required: true, placeholder: 'password confirmation' , class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>
    <%= form.submit "Sign Up", class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full' %>
  <% end %>
</div>